.leftSide {
    width: 15%; 
    height: 400px;    
    float:left;
    border:1px solid black;
    position: relative !important;
    overflow-y: auto;
}

.rightSide {
    width: 80%; 
    height: 400px;
    float:right;    
    border:1px solid black;
    margin-right: 60px;
    position: relative !important;
    overflow-y: auto;
}