.selectedCatName{
  padding-left: 15px;
}
.shouldBeCrossed {
  text-decoration: line-through;
}

.curserMe {
  cursor: pointer;
}

.wrappingDivForRow {
  width: 600px;
}

.delete {
  float: right;
  color: red;
}
